<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tts.xiaoliji.common.ext.dao.mybatis.client.ExtNumberMapper">
	<select id="getNextNumber" resultType="java.lang.Integer"
		statementType="CALLABLE">
		select get_next_number(#{name,jdbcType=VARCHAR}, #{para,jdbcType=VARCHAR})
	</select>
</mapper>